{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% block beforeContent %}
    {{ govukBackLink({ href: "/tasks", text: "Back" }) }}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">Adding a new task</h1>
    <form method="POST">
        {{ govukInput(titleInput) }}
        {{ govukTextarea(descriptionInput) }}
        {{ govukDateInput(dueDateInput) }}
        <hr class="govuk-section-break govuk-section-break--m">
        {{ govukButton({ text: "Save and continue", type: "submit" }) }}
    </form>
{% endblock %}